body{
    margin:0;
    font-family:sans-serif;
    background-color: #edf0f0;
   
   
}
header{
    width:100%;
    height:55px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
  
}
header img{
    margin-left:15px;
}
.download-button{
    background-color: green;
    color:white;
    width:130px;
    height:40px;
    border:none;
    border-radius:4px;
    margin-right: 20px;
}
.main-container{
    display:flex;
    justify-content: space-around;
    
}

.personal-details{
    display:flex;
    flex-direction: column;
    
}
/* input::placeholder{
    margin-right:-10px;
} */
.professional-details{
    display:flex;
    flex-direction: column;
}
.left-container{
    margin-left:-150px;
}
.text-input{
    width:500px;
    height:28px;
    border:none;
    border-radius:4px;
}
select{
    width:500px;
    height:28px;
    border:2px solid rgb(64, 64, 219);
    border-radius: 4px;
}
textarea{
    border:none;
}
.color-green{
    background-color: green;
    width:500px;
    height:29px;
    border:none;
    border-radius:4px;
    color:white;
    font-weight: bold;
}
p{
    font-size: 16px;
}
.flex-class{
    display:flex;
    justify-content: space-between;
}
 .right-container{
    width:700px;
    height:880px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.resume-left{
    margin-top:20px;
    margin-left:15px;

}
.grey{
    width:200px;
    height:800px;
    background-color: #edf0f0;
    
}
.resume-right{
    margin-right:240px;
    margin-top:5px;
    margin-left:20px;
}
.header-right{
    background-color: #933434;
    width:700px;
    height:130px;
    z-index:1;
    margin-top:20px;

}
.resume-right p{
    font-size:13px;
    font-family: sans-serif;
}
.icon{
    color:rgb(160, 156, 156);
}
.resume-left hr{
    width:170px;
    margin-left:-2px;
    border:1px solid;
    margin-top: -10px;
    position: relative;
    
}
.resume-right hr{
    width:480px;
    border:1px solid;
    margin-left:-4px;
    margin-top:-9px;
}

.userName{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    padding:15px;
    
}
.pheader{
    font-size: 18px;
    margin-top:-20px;
    margin-left: 15px;
    font-family: monospace;
}
.span{
    font-size:16px;
}
.contactClass span{
    margin-left:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: bold;
}
.email-container {
    word-wrap: break-word;
    max-width: 30px;
    /* overflow-wrap: break-word; */
  }
  .summary{
    word-wrap: break-word;
    font-size: 16px !important;
  }
  .skills-class{
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    line-height: 0.5px;
  }
  .skillText{
    background-color: black;
  color: white;
  padding: 12px 6px;
  border-radius: 4px;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  } 
  .rightcontainerMinimalist{
    width:700px;
    height:880px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
  }
  
  .flexclassMinimalist hr{
  
    margin-left:10px;
    margin-right: 10px;
    width:650px;
    border:1px solid;
    margin-top:-10px;
  }
  .flexclassMinimalist p{
    margin-left:10px;
  }
  
  .headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #edf0f0;
    height:130px;

  }
  
  
  
  /* Styling for the contact details on the right */
  .contactClassMinimalist {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap:0.2em; 
  }
  .headerRight .nameFlex {
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Adjust the gap between name and p element */
  }

.flexDetailsColor{
    display: flex;
    justify-content: space-between;
}
.colorContent{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px !important; 
}
  .color{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px !important;
    margin-top:-5px;
  }
  